.filter-checkbox {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    font-size: 13px;
    line-height: 18px;
  }
    
  .checkbox {
      position: relative;
      cursor: pointer;
      user-select: none;
      margin-left: 40px;
   }
   
   .checkbox__input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
   }
   
   .checkbox__filter {
      background-color: #2BE080;
      position: absolute;
      width: 36px;
      height: 20px;
      margin-left: 14px;
      border-radius: 20px;
      transition: 0.1s linear 0.1s;
   }
   
   .checkbox__filter:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #F5F5F5;
      transition: 0.1s linear 0.1s;
      transform: translateX(16px);
   }
   
   .checkbox__input:checked ~ .checkbox__filter {
    background-color: #EBEBEB;
   }
   
   .checkbox__input:checked ~ .checkbox__filter:after {
    transform: translateX(0);
   }

   @media screen and (max-width: 800px) {
    .filter-checkbox {
      padding: 0;
    }
    .checkbox {
      margin-left: -50px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .filter-checkbox {
      padding: 0;
    }
    .checkbox {
      padding-left: 0;
      font-size: 11px;
      line-height: 18px;
   }
  }